
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Concert One", sans-serif;
}

body {
    background-color: #f7f7f6;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index: 3;

    background-color: #f7f7f6;
    box-shadow:0px 2px 4px #464446;
    color: #23221f;
    padding-block: 5px;
    padding-inline: 10px;
    width: auto;
    min-width: 85em;
    top: 0;
    
}


header nav ul  {
    display: flex;
    gap: 15px;

    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    transition: color 0.4s ease-in-out;
}


header nav ul li a {
    display: flex;
    align-items: center;

    color:#23221f;
    text-decoration: none;
}



header nav ul li:hover {
    border-bottom: 2px #23221f solid;
}


/**Info institucional*/

.info-insti {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding-top: 8em;
    padding-inline: 10em;
    padding-bottom: 10em;

    color: #f7f7f6;

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-insti .Text {
    margin-block: 3em;
}
.info-insti .turistic-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40em;
    height: 20em;
    
}
/** Eslogans */
#eslogan {
    display: flex;
    gap: 20px;
    color: #23221f;
}
#e-1 {
    background-color: #0099ff;   
    box-shadow: 4px 4px  #23221f ;
    padding: 2px 4px;
}
#e-2 {
    background-color: #ffe60d;
    box-shadow: 4px 4px  #23221f ;
    padding: 2px 4px;
}
#e-3 {
    background-color: #79FB00;
    box-shadow: 4px 4px  #23221f ;
    padding: 2px 4px;
}

/** Catalogo */

.Catalogo {
    width: 100%;
    height: 65em;
    background-color: #f7f7f6;
    color: #23221f;
}

/*? Cards */

.Catalogo .contenedor-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 2em;
}
.Catalogo .contenedor-cards .cards {
    position: relative;
    top: 20px;
    left: -20px;
    width: 18em;
    height: 26em;
    background-color: #f7f7f6;
    text-align: center;
    border: 2px solid #464446;
    box-shadow: 10px -10px 0 -3px #f7f7f6, 10px -10px  #464446, 20px -20px 0 -3px #f7f7f6, 20px -20px  #464446 ;
    transition: all 1s;
}
.Catalogo .contenedor-cards .cards h3 {
    font-weight:lighter;
    padding-block: 5px;
    font-size: 1.8rem;
}
.Catalogo .contenedor-cards .cards p {
    text-align: left;
    margin-inline: 2px;
    
}
.Catalogo .contenedor-cards .cards a {
    text-align: center;
    text-decoration: none;
    color:#23221f;
    background-color:#ffe70dd3;
    /* padding-block: 1em; */
    padding: 0.5em;
    margin-bottom: 10px;
    border: 1px solid #464446;
    transition: all 0.4s;
}
.Catalogo .contenedor-cards .cards:hover {
    top: 0px;
    left: 0px;
    box-shadow: none;
    transition:all 90ms;
}

.Catalogo .contenedor-cards .cards a:hover {
    background-color: #0099ff;
    color: #f7f7f6;
    transition: all 0.4s;
}

/** Blog's */
.Blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: -3em;
    height: 10em;
    width: 100%;

    color: transparent;
    -webkit-text-stroke: 1px #f7f7f6 ;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./images/Andariego-Jarabacoa.webp');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Blog h2{
    font-family: Arial, Helvetica, sans-serif;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 10px;
    background-color: #2193b0;
    width: 100%;
    height: 10em;
}

.contenedor-izquierdo {
    display: flex;
    gap: 15px;

    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
}

.contenedor-izquierdo ul li a {
    display: flex;
    align-items: center;

    color:#23221f;
    text-decoration: none;
}

.contenedor-derecho {
    background-color: red;
    width: 12em;
    height: 5em;
}
/*burbujas*/
 .burbujasuno {
    background: #2193b0; 
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 5%;

    border-radius: 100px;
    animation: burbujas 3s linear infinite;
}
.burbujasdos {
    background: #2193b0;  
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 29%;

    border-radius: 100px;
    animation: burbujas 3.5s linear infinite;
}
.burbujastres {
    background: #2193b0;  
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;

    border-radius: 100px;
    animation: burbujas 3.20s linear infinite;
}
.burbujascuatro {
    background: #2193b0; 
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 25%;

    border-radius: 100px;
    animation: burbujas 5s linear infinite;
}
.burbujascinco {
    background: #2193b0;  
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 47%;

    border-radius: 100px;
    animation: burbujas 3s linear infinite;
}
.burbujasseis {
    background: #2193b0;  
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 45%;

    border-radius: 100px;
    animation: burbujas 9s linear infinite;
}
.burbujassiete {
    background: #2193b0;
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
background: linear-gradient(to right, #6dd5ed, #2193b0); 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width:3rem;
    height: 3rem;
    left: 37%;

    border-radius: 100px;
    animation: burbujas 4.3s linear infinite;
}
.burbujasocho {
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    left: 2%;

    border-radius: 100px;
    animation: burbujas 3.7s linear infinite;
}
.burbujasnueve {
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    opacity: 0.8;
    opacity: .3;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 15%;

    border-radius: 100px;
    animation: burbujas 5.5s linear infinite;
} 
 @keyframes burbujas{
    0% {
        opacity: 0;
        bottom: 0;
    } 
    50%{
        opacity: .4;
    } 
    100%{
        opacity: 0;
        bottom: 100vh;
    }
}


/* footer {
    color: #f5f5f5;
    background: #0575E6;
     background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  
     background: linear-gradient(to bottom, #021B79, #0575E6); 
    display: flex; 
    justify-content: center;
     background: url(/ASSET/Imagenes/Seleccion/ja.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 20em;
}


.container-footer {
    padding-block: 5em;
}

.container-footer .info .links-info {
    display: flex;
    flex-direction: column;
    text-align: row;
    flex-wrap: wrap;
    
}
.container-footer .info .links-info a{
    color: #cbc5c5;
    font-size: 20px;
    vertical-align:baseline;
}
.container-footer .info .links-info i:hover{
    color: #f5f5f5;
} */


/* icons */
/* @import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css') */

/* @import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css') */
